{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "svelte",
    "svelte/jest",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": ["svelte"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte/svelte"
    }
  ],
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "no-useless-constructor": 0
  }
}
